<section class="main__services section__wrapper" id="services">
  <h2 class="section__title">Services</h2>
  <div class="main__services-content">
    <div class="services__front-end">
      <h3 class="section__sub-title">Front-End</h3>
      <p>
        Aspires to make web applications accessible, secure and user friendly.
        Well versed in the areas of web accessibility, responsive web design and
        progressive enhancement. The workflow entails the following tools and
        services:
        <span class="pl-list">HTML, CSS, JavaScript and Angular</span>.
      </p>
    </div>
    <div class="services__back-end">
      <h3 class="section__sub-title">Back-End</h3>
      <p>
        Creates the business logic that powers the front-end applications. Uses
        the following tools in the day-to-day workflow:
        <span class="pl-list">
          JavaScript, Node.js, Express.js and Postgresql
        </span>
      </p>
    </div>
  </div>
  <div class="services__tools">
    <div class="services__tools-icon">
      <span>
        <fa-icon [icon]="HTMLIcon" class="html-icon"></fa-icon>
      </span>
    </div>
    <div class="services__tools-icon">
      <span>
        <fa-icon [icon]="CSS3Icon" class="css-icon"></fa-icon>
      </span>
    </div>
    <div class="services__tools-icon">
      <span>
        <fa-icon [icon]="JSIcon" class="js-icon"></fa-icon>
      </span>
    </div>
    <div class="services__tools-icon">
      <span>
        <fa-icon [icon]="AngularIcon" class="angular-icon"></fa-icon>
      </span>
    </div>
    <div class="services__tools-icon">
      <span>
        <fa-icon [icon]="NodeJSIcon" class="nodejs-icon"></fa-icon>
      </span>
    </div>
    <div class="services__tools-icon">
      <span>
        <fa-icon [icon]="databaseIcon" class="database-icon"></fa-icon>
      </span>
    </div>
  </div>
</section>
