.main__services {
  padding: 1em;
}

.main__services-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto;
  gap: 2em;
}

@media (min-width: 30em) {
  .main__services-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

/* Programming languages list */
.pl-list {
  color: var(--clr-dark-teal-compliment);
  font-weight: var(--fw-bold);
  font-style: italic;
}

.services__front-end,
.services__back-end {
  /* box-shadow: 10px 10px 5px -5px var(--clr-light-gray); */ /*  Bug: Displays at the front of div element */
  border: 2px solid var(--clr-light-gray);
  padding: 1em;
}

.services__tools {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.services__tools-icon {
  font-size: var(--fs-heading-3);
}

.html-icon {
  color: var(--clr-html);
}

.css-icon {
  color: var(--clr-css);
}

.js-icon {
  color: var(--clr-js);
}

.angular-icon {
  color: var(--clr-angular);
}

.nodejs-icon {
  color: var(--clr-nodejs);
}

.database-icon {
  color: var(--clr-database);
}
