.footer {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.footer__contact {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em;
}

.footer__social_media .github-icon {
  color: var(--clr-white);
}
