<footer class="footer">
  <section class="footer__contact section__wrapper" id="contact">
    <div class="footer__social_media social-media">
      <div class="social-media__icon">
        <a href="{{ LinkedInLink }}" target="_blank" aria-label="LinkedIn Icon">
          <fa-icon [icon]="LinkedInIcon" class="linkedIn-icon"></fa-icon>
        </a>
      </div>
      <div class="social-media__icon">
        <a href="{{ GitHubLink }}" target="_blank" aria-label="GitHub Icon">
          <fa-icon [icon]="GitHubIcon" class="github-icon"></fa-icon>
        </a>
      </div>
      <div class="social-media__icon">
        <a href="{{ WhatsappLink }}" target="_blank" aria-label="Whatsapp Icon">
          <fa-icon [icon]="WhatsappIcon" class="whatsapp-icon"></fa-icon>
        </a>
      </div>
      <div class="social-media__icon">
        <a href="{{ TwitterLink }}" target="_blank" aria-label="Twitter Icon">
          <fa-icon [icon]="TwitterIcon" class="twitter-icon"></fa-icon>
        </a>
      </div>
    </div>
    <div class="copyright">&copy; 2020</div>
  </section>
</footer>
