.main__posts {
  padding: 1em;
}

.post__link {
  color: var(--clr-light-gray);
}

.post__link:visited {
  color: var(--clr-dark-teal-compliment);
}

.post__link:hover {
  color: var(--clr-dark-teal);
}

.post__publish-date {
  font-style: italic;
}
