<section class="main__posts section__wrapper" id="posts">
  <h2 class="section__title">Posts</h2>
  <ul class="post__list">
    <li class="post__item">
      <span class="pen-icon">
        <fa-icon [icon]="penIcon"></fa-icon>
      </span>
      <a
        class="post__link"
        href="https://dev.to/khwilo/how-to-create-full-screen-drawer-navigation-in-html-css-and-javascript-44oe"
        target="_blank"
        rel="noreferrer noopener"
      >
        How to create full-screen drawer navigation in HTML, CSS, and JavaScript
      </a>
      <span class="post__publish-date"> - January 24, 2020</span>
    </li>
  </ul>
</section>
