<section class="main__posts section__wrapper" id="posts">
  <h2 class="section__title">Posts</h2>
  <ul class="post__list">
    <li class="post__item">
      <span class="pen-icon">
        <fa-icon [icon]="penIcon"></fa-icon>
      </span>
      <a
        class="post__link"
        href="https://dev.to/khwilo/code-kata-calculate-the-sum-of-consecutive-odd-numbers-358o"
        target="_blank"
        rel="noreferrer noopener"
      >
        Code Kata: Calculate the sum of consecutive odd numbers
      </a>
      <span class="post__publish-date"> - February 20, 2020</span>
    </li>

    <li class="post__item">
      <span class="pen-icon">
        <fa-icon [icon]="penIcon"></fa-icon>
      </span>
      <a
        class="post__link"
        href="https://dev.to/khwilo/til-form-password-reveal-g37"
        target="_blank"
        rel="noreferrer noopener"
      >
        TIL: Form password reveal
      </a>
      <span class="post__publish-date"> - February 13, 2020</span>
    </li>

    <li class="post__item">
      <span class="pen-icon">
        <fa-icon [icon]="penIcon"></fa-icon>
      </span>
      <a
        class="post__link"
        href="https://dev.to/khwilo/get-started-with-making-your-angular-web-app-offline-capable-1e9n"
        target="_blank"
        rel="noreferrer noopener"
      >
        Get started with making your Angular web app offline-capable
      </a>
      <span class="post__publish-date"> - February 7, 2020</span>
    </li>

    <li class="post__item">
      <span class="pen-icon">
        <fa-icon [icon]="penIcon"></fa-icon>
      </span>
      <a
        class="post__link"
        href="https://dev.to/khwilo/how-to-create-full-screen-drawer-navigation-in-html-css-and-javascript-44oe"
        target="_blank"
        rel="noreferrer noopener"
      >
        How to create full-screen drawer navigation in HTML, CSS, and JavaScript
      </a>
      <span class="post__publish-date"> - January 24, 2020</span>
    </li>
  </ul>
</section>
