<div class="projects-container">
  <section
    class="project-info"
    [ngStyle]="{ backgroundColor: '#2E689E' }"
    (click)="openSite('https://q-questioner-api.herokuapp.com/apidocs/')"
  >
    <header class="project-title">Questioner - API</header>
    <img src="/assets/img/questioner-api.png" alt="" />
    <footer class="project-stack">Python, Flask</footer>
  </section>
  <section
    class="project-info"
    [ngStyle]="{ backgroundColor: '#FF6C00' }"
    (click)="openSite('https://khwilo.github.io/questioner/UI/index.html')"
  >
    <header class="project-title">Questioner - UI</header>
    <img src="/assets/img/questioner-ui.png" alt="" />
    <footer class="project-stack">HTML, CSS, Vanilla JS</footer>
  </section>
  <section
    class="project-info"
    [ngStyle]="{ backgroundColor: '#14121A' }"
    (click)="openSite('https://countries-info.netlify.com/')"
  >
    <header class="project-title">Where in the World?</header>
    <img src="/assets/img/where-in-the-world.png" alt="" />
    <footer class="project-stack">HTML, CSS, JS, Angular</footer>
  </section>
  <section
    class="project-info"
    [ngStyle]="{ backgroundColor: '#1D2E33' }"
    (click)="openSite('https://chill-room.netlify.com/')"
  >
    <header class="project-title">ChillRoom</header>
    <img src="/assets/img/chill-room.png" alt="" />
    <footer class="project-stack">HTML, CSS, JS, Angular</footer>
  </section>
</div>
