<section class="main__projects section__wrapper" id="projects">
  <h2 class="section__title">Projects</h2>
  <div class="main__projects-content">
    <div class="project__info">
      <div class="project__title">
        <h3 class="section__sub-title">CountriesInfo</h3>
        <div class="project__links">
          <span class="project__link-icon">
            <a
              href="https://github.com/khwilo/countries-info"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub icon"
            >
              <fa-icon [icon]="GitHubIcon"></fa-icon>
            </a>
          </span>
          <span class="project__link-icon">
            <a
              href="https://countries-info.netlify.com/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="External link icon"
            >
              <fa-icon [icon]="externalLinkIcon"></fa-icon>
            </a>
          </span>
        </div>
      </div>
      <div class="project__description">
        <p>
          Countries display web application. Visual representation about a
          country's flag, population, region and its capital.
        </p>
      </div>
      <div class="project__language-tags">
        <span class="language-tag">#HTML</span>
        <span class="language-tag">#CSS</span>
        <span class="language-tag">#JS</span>
        <span class="language-tag">#Angular</span>
      </div>
    </div>

    <div class="project__info">
      <div class="project__title">
        <h3 class="section__sub-title">ChillRoom</h3>
        <div class="project__links">
          <span class="project__link-icon">
            <a
              href="https://github.com/khwilo/chill-room"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub icon"
            >
              <fa-icon [icon]="GitHubIcon"></fa-icon>
            </a>
          </span>
          <span class="project__link-icon">
            <a
              href="https://chill-room.netlify.com"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="External link icon"
            >
              <fa-icon [icon]="externalLinkIcon"></fa-icon>
            </a>
          </span>
        </div>
      </div>
      <div class="project__description">
        <p>
          Movies listing web application. This web application displays
          information about a particular movie name, genre, year of release,
          duration and cast members.
        </p>
      </div>
      <div class="project__language-tags">
        <span class="language-tag">#HTML</span>
        <span class="language-tag">#CSS</span>
        <span class="language-tag">#JS</span>
        <span class="language-tag">#Angular</span>
      </div>
    </div>

    <div class="project__info">
      <div class="project__title">
        <h3 class="section__sub-title">Questioner API</h3>
        <div class="project__links">
          <span class="project__link-icon">
            <a
              href="https://github.com/khwilo/questioner-api"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub icon"
            >
              <fa-icon [icon]="GitHubIcon"></fa-icon>
            </a>
          </span>
          <span class="project__link-icon">
            <a
              href="https://q-questioner-api.herokuapp.com/apidocs/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="External link icon"
            >
              <fa-icon [icon]="externalLinkIcon"></fa-icon>
            </a>
          </span>
        </div>
      </div>
      <div class="project__description">
        <p>
          REST API endpoints for the the Questioner website (A website that
          collects questions to be asked in meetup scenarios).
        </p>
      </div>
      <div class="project__language-tags">
        <span class="language-tag">#Python</span>
        <span class="language-tag">#Flask</span>
      </div>
    </div>

    <div class="project__info">
      <div class="project__title">
        <h3 class="section__sub-title">Questioner UI</h3>
        <div class="project__links">
          <span class="project__link-icon">
            <a
              href="https://github.com/khwilo/questioner"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub icon"
            >
              <fa-icon [icon]="GitHubIcon"></fa-icon>
            </a>
          </span>
          <span class="project__link-icon">
            <a
              href="https://khwilo.github.io/questioner/UI/index.html"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="External link icon"
            >
              <fa-icon [icon]="externalLinkIcon"></fa-icon>
            </a>
          </span>
        </div>
      </div>
      <div class="project__description">
        <p>
          User interface for the Questioner website. This website collects
          questions that users for a particular meetup expect to be addressed
          before going to the meetup. Users have the ability to up-vote or
          down-vote on any question that has been asked.
        </p>
      </div>
      <div class="project__language-tags">
        <span class="language-tag">#HTML</span>
        <span class="language-tag">#CSS</span>
        <span class="language-tag">#JS</span>
      </div>
    </div>
  </div>
</section>
