.main__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.main__intro > * + * {
  margin-top: 1em;
}

.intro__name {
  font-size: var(--fs-heading-2);
}

.intro__title {
  font-size: var(--fs-heading-3);
  font-style: italic;
  color: var(--clr-dark-teal-compliment);
}

.intro__contact-email,
.intro__contact-address {
  color: var(--clr-dark-gray);
  font-weight: var(--fw-light);
}

.intro__social_media {
  padding: 0.5em;
}
