<div class="intro-container">
  <section class="introduction">
    <p id="developer-name">Hi, I'm Khwilo Kabaka</p>
    <p id="developer-description">
      I am a software engineer by profession. Let's work together.
    </p>
    <p id="motto">
      Design, develop and launch
    </p>
  </section>
  <div class="skills-icons">
    <fa-icon
      [icon]="HTMLIcon"
      class="icon"
      [ngStyle]="{ backgroundColor: '#FC5219' }"
    ></fa-icon>
    <fa-icon
      [icon]="CSS3Icon"
      class="icon"
      [ngStyle]="{ backgroundColor: '#00A7F9' }"
    ></fa-icon>
    <fa-icon
      [icon]="JSIcon"
      class="icon"
      [ngStyle]="{ backgroundColor: '#F2EB00' }"
    ></fa-icon>
    <fa-icon
      [icon]="Angular"
      class="icon"
      [ngStyle]="{ backgroundColor: '#F20027' }"
    ></fa-icon>
    <fa-icon
      [icon]="NodeJS"
      class="icon"
      [ngStyle]="{ backgroundColor: '#00923E' }"
    ></fa-icon>
  </div>
</div>
