.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24em;
}

.app-container .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#developer-name,
#developer-description,
#motto {
  text-align: center;
}

#developer-name {
  font-weight: 700;
  font-size: var(--main-heading-font-size);
}

#developer-description {
  font-size: var(--sub-heading-font-size);
}

#motto {
  color: crimson;
  font-size: var(--content-font-size);
  font-weight: bold;
  border: 4px solid crimson;
  width: 50%;
  margin: 2em auto 0 auto;
}

.intro-container .skills-icons {
  font-size: 2em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.skills-icons .icon {
  margin: 0;
  padding: 0.5em;
}

@media (min-width: 50em) {
  .intro-container .skills-icons {
    width: 60%;
  }
}
