<div class="wrapper">
  <app-navigation></app-navigation>
  <!-- Navigation bar section -->
  <main class="main">
    <app-intro></app-intro>
    <!-- Introduction section -->

    <app-about></app-about>
    <!-- About section -->

    <app-my-services></app-my-services>
    <!-- My Services section -->

    <app-projects></app-projects>
    <!-- My projects section -->

    <section class="main__posts section__wrapper" id="posts">
      <h2 class="section__title">Posts</h2>
      <ul class="post__list">
        <li class="post__item">
          <span class="pen-icon">
            <fa-icon [icon]="penIcon"></fa-icon>
          </span>
          <a
            class="post__link"
            href="https://dev.to/khwilo/how-to-create-full-screen-drawer-navigation-in-html-css-and-javascript-44oe"
            target="_blank"
            rel="noreferrer noopener"
          >
            How to create full-screen drawer navigation in HTML, CSS, and
            JavaScript
          </a>
          <span class="post__publish-date"> - January 24, 2020</span>
        </li>
      </ul>
    </section>
    <!-- My posts section -->
  </main>
  <!-- Main section -->

  <footer class="footer">
    <section class="footer__contact section__wrapper" id="contact">
      <div class="footer__social_media social-media">
        <div class="social-media__icon">
          <a
            href="{{ LinkedInLink }}"
            target="_blank"
            aria-label="LinkedIn Icon"
          >
            <fa-icon [icon]="LinkedInIcon" class="linkedIn-icon"></fa-icon>
          </a>
        </div>
        <div class="social-media__icon">
          <a href="{{ GitHubLink }}" target="_blank" aria-label="GitHub Icon">
            <fa-icon [icon]="GitHubIcon" class="github-icon"></fa-icon>
          </a>
        </div>
        <div class="social-media__icon">
          <a
            href="{{ WhatsappLink }}"
            target="_blank"
            aria-label="Whatsapp Icon"
          >
            <fa-icon [icon]="WhatsappIcon" class="whatsapp-icon"></fa-icon>
          </a>
        </div>
        <div class="social-media__icon">
          <a href="{{ TwitterLink }}" target="_blank" aria-label="Twitter Icon">
            <fa-icon [icon]="TwitterIcon" class="twitter-icon"></fa-icon>
          </a>
        </div>
      </div>
      <div class="copyright">&copy; 2020</div>
    </section>
  </footer>
</div>
