<div class="wrapper">
  <app-navigation></app-navigation>
  <!-- Navigation bar section -->
  <main class="main">
    <app-intro></app-intro>
    <!-- Introduction section -->

    <section class="main__about section__wrapper" id="about">
      <h2 class="section__title">About</h2>
      <div class="section__about-content">
        <p>
          Software developer with an expertise in the field of web application
          development. Researches, designs, develops and implements software
          services and tools that enhances and utilizes the capabilities of the
          web.
        </p>
      </div>
    </section>
    <!-- About section -->

    <section class="main__services section__wrapper" id="services">
      <h2 class="section__title">Services</h2>
      <div class="main__services-content">
        <div class="services__front-end">
          <h3 class="section__sub-title">Front-End</h3>
          <p>
            Aspires to make web applications accessible, secure and user
            friendly. Well versed in the areas of web accessibility, responsive
            web design and progressive enhancement. The workflow entails the
            following tools and services:
            <span class="pl-list">HTML, CSS, JavaScript and Angular</span>.
          </p>
        </div>
        <div class="services__back-end">
          <h3 class="section__sub-title">Back-End</h3>
          <p>
            Creates the business logic that powers the front-end applications.
            Uses the following tools in the day-to-day workflow:
            <span class="pl-list">
              JavaScript, Node.js, Express.js and Postgresql
            </span>
          </p>
        </div>
      </div>
      <div class="services__tools">
        <div class="services__tools-icon">
          <span>
            <fa-icon [icon]="HTMLIcon" class="html-icon"></fa-icon>
          </span>
        </div>
        <div class="services__tools-icon">
          <span>
            <fa-icon [icon]="CSS3Icon" class="css-icon"></fa-icon>
          </span>
        </div>
        <div class="services__tools-icon">
          <span>
            <fa-icon [icon]="JSIcon" class="js-icon"></fa-icon>
          </span>
        </div>
        <div class="services__tools-icon">
          <span>
            <fa-icon [icon]="AngularIcon" class="angular-icon"></fa-icon>
          </span>
        </div>
        <div class="services__tools-icon">
          <span>
            <fa-icon [icon]="NodeJSIcon" class="nodejs-icon"></fa-icon>
          </span>
        </div>
        <div class="services__tools-icon">
          <span>
            <fa-icon [icon]="databaseIcon" class="database-icon"></fa-icon>
          </span>
        </div>
      </div>
    </section>
    <!-- My Services section -->

    <section class="main__projects section__wrapper" id="projects">
      <h2 class="section__title">Projects</h2>
      <div class="main__projects-content">
        <div class="project__info">
          <div class="project__title">
            <h3 class="section__sub-title">Project Title</h3>
            <div class="project__links">
              <span class="project__link-icon">
                <a
                  href="https://github.com/khwilo/countries-info"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub icon"
                >
                  <fa-icon [icon]="GitHubIcon"></fa-icon>
                </a>
              </span>
              <span class="project__link-icon">
                <a
                  href="https://countries-info.netlify.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="External link icon"
                >
                  <fa-icon [icon]="externalLinkIcon"></fa-icon>
                </a>
              </span>
            </div>
          </div>
          <div class="project__description">
            <p>Short Project description</p>
          </div>
          <div class="project__language-tags">
            <span class="language-tag">#HTML</span>
            <span class="language-tag">#CSS</span>
            <span class="language-tag">#JS</span>
          </div>
        </div>

        <div class="project__info">
          <div class="project__title">
            <h3 class="section__sub-title">Project Title</h3>
            <div class="project__links">
              <span class="project__link-icon">
                <a
                  href="https://github.com/khwilo/countries-info"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub icon"
                >
                  <fa-icon [icon]="GitHubIcon"></fa-icon>
                </a>
              </span>
              <span class="project__link-icon">
                <a
                  href="https://countries-info.netlify.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="External link icon"
                >
                  <fa-icon [icon]="externalLinkIcon"></fa-icon>
                </a>
              </span>
            </div>
          </div>
          <div class="project__description">
            <p>Short Project description</p>
          </div>
          <div class="project__language-tags">
            <span class="language-tag">#HTML</span>
            <span class="language-tag">#CSS</span>
            <span class="language-tag">#JS</span>
          </div>
        </div>

        <div class="project__info">
          <div class="project__title">
            <h3 class="section__sub-title">Project Title</h3>
            <div class="project__links">
              <span class="project__link-icon">
                <a
                  href="https://github.com/khwilo/countries-info"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub icon"
                >
                  <fa-icon [icon]="GitHubIcon"></fa-icon>
                </a>
              </span>
              <span class="project__link-icon">
                <a
                  href="https://countries-info.netlify.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="External link icon"
                >
                  <fa-icon [icon]="externalLinkIcon"></fa-icon>
                </a>
              </span>
            </div>
          </div>
          <div class="project__description">
            <p>Short Project description</p>
          </div>
          <div class="project__language-tags">
            <span class="language-tag">#HTML</span>
            <span class="language-tag">#CSS</span>
            <span class="language-tag">#JS</span>
          </div>
        </div>

        <div class="project__info">
          <div class="project__title">
            <h3 class="section__sub-title">Project Title</h3>
            <div class="project__links">
              <span class="project__link-icon">
                <a
                  href="https://github.com/khwilo/countries-info"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub icon"
                >
                  <fa-icon [icon]="GitHubIcon"></fa-icon>
                </a>
              </span>
              <span class="project__link-icon">
                <a
                  href="https://countries-info.netlify.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="External link icon"
                >
                  <fa-icon [icon]="externalLinkIcon"></fa-icon>
                </a>
              </span>
            </div>
          </div>
          <div class="project__description">
            <p>Short Project description</p>
          </div>
          <div class="project__language-tags">
            <span class="language-tag">#HTML</span>
            <span class="language-tag">#CSS</span>
            <span class="language-tag">#JS</span>
          </div>
        </div>
      </div>
    </section>
    <!-- My projects section -->

    <section class="main__posts section__wrapper" id="posts">
      <h2 class="section__title">Posts</h2>
      <ul class="post__list">
        <li class="post__item">
          <span class="pen-icon">
            <fa-icon [icon]="penIcon"></fa-icon>
          </span>
          <a
            class="post__link"
            href="https://dev.to/khwilo/how-to-create-full-screen-drawer-navigation-in-html-css-and-javascript-44oe"
            target="_blank"
            rel="noreferrer noopener"
          >
            How to create full-screen drawer navigation in HTML, CSS, and
            JavaScript
          </a>
          <span class="post__publish-date"> - January 24, 2020</span>
        </li>
      </ul>
    </section>
    <!-- My posts section -->
  </main>
  <!-- Main section -->

  <footer class="footer">
    <section class="footer__contact section__wrapper" id="contact">
      <div class="footer__social_media social-media">
        <div class="social-media__icon">
          <a
            href="{{ LinkedInLink }}"
            target="_blank"
            aria-label="LinkedIn Icon"
          >
            <fa-icon [icon]="LinkedInIcon" class="linkedIn-icon"></fa-icon>
          </a>
        </div>
        <div class="social-media__icon">
          <a href="{{ GitHubLink }}" target="_blank" aria-label="GitHub Icon">
            <fa-icon [icon]="GitHubIcon" class="github-icon"></fa-icon>
          </a>
        </div>
        <div class="social-media__icon">
          <a
            href="{{ WhatsappLink }}"
            target="_blank"
            aria-label="Whatsapp Icon"
          >
            <fa-icon [icon]="WhatsappIcon" class="whatsapp-icon"></fa-icon>
          </a>
        </div>
        <div class="social-media__icon">
          <a href="{{ TwitterLink }}" target="_blank" aria-label="Twitter Icon">
            <fa-icon [icon]="TwitterIcon" class="twitter-icon"></fa-icon>
          </a>
        </div>
      </div>
      <div class="copyright">&copy; 2020</div>
    </section>
  </footer>
</div>
