<div class="wrapper">
  <app-navigation></app-navigation>

  <h1 class="update">
    You are viewing the old version of this site. To view the new site visit
    this link:
    <a href="https://khwilo.now.sh/" class="update-link">
      https://khwilo.now.sh
    </a>
  </h1>

  <!-- Navigation bar section -->
  <main class="main">
    <app-intro></app-intro>
    <!-- Introduction section -->

    <app-about></app-about>
    <!-- About section -->

    <app-my-services></app-my-services>
    <!-- My Services section -->

    <app-projects></app-projects>
    <!-- My projects section -->

    <app-my-posts></app-my-posts>
    <!-- My posts section -->
  </main>
  <!-- Main section -->

  <app-footer></app-footer>
  <!-- Footer -->
</div>
