.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#developer-name {
  font-weight: 700;
  font-size: var(--main-heading-font-size);
}

#developer-description {
  font-size: var(--sub-heading-font-size);
}
