.header {
  padding: 0.5em 1em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: var(--ff-logo);
}

.logo__content {
  font-size: var(--fs-heading-1);
  color: var(--clr-dark-teal);
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav__link {
  text-decoration: none;
  padding: 1em 2em;
  color: var(--clr-white);
  font-size: var(--fs-heading-3);
}
