<header class="header">
  <div class="logo">
    <h1 class="logo__content">{{ logoName }}</h1>
  </div>
  <!-- Logo -->

  <button
    class="menu-toggle"
    aria-label="Menu toggle button"
    (click)="openMenu()"
  >
    <span class="hamburger-menu"></span>
  </button>
  <!-- Toggle menu button -->

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#about" class="nav__link" #nav_link>About</a>
      </li>
      <li class="nav__item">
        <a href="#services" class="nav__link" #nav_link>Services</a>
      </li>
      <li class="nav__item">
        <a href="#projects" class="nav__link" #nav_link>Projects</a>
      </li>
      <li class="nav__item">
        <a href="#posts" class="nav__link" #nav_link>My Posts</a>
      </li>
      <li class="nav__item">
        <a href="#contact" class="nav__link" #nav_link>Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Navigation menu -->
</header>
<!-- Header section-->
