.site-nav-links {
  list-style-type: none;
  display: flex;
  padding: 0.5em;
  border-radius: 0.2em;
}

.site-nav-links > li {
  margin-top: 0;
  width: 7em;
  text-align: center;
}

.site-nav-links > li > a:hover {
  background-color: crimson;
  color: #ffffff;
  font-weight: 500;
}

.site-nav-links > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
}

.site-nav-links > li + li {
  margin-left: 1.5em;
}

.site-nav-links > .nav-left {
  margin-right: auto;
}

.modal {
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-body {
  position: fixed;
  top: 5em;
  bottom: 12em;
  right: 10%;
  left: 10%;
  padding: 2em 3em;
  background-color: #ffffff;
  overflow: auto;
  z-index: 2;
}

@media (min-width: 48em) {
  .modal-body {
    bottom: 5em;
  }
}

@media (min-width: 35em) {
  .modal-body {
    bottom: 5em;
  }
}

.modal-close {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  cursor: pointer;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  background-color: #ffffff;
}

.modal-close::after {
  position: absolute;
  line-height: 0.5;
  top: 0.25em;
  left: 0.22em;
  text-indent: 0;
  content: '\00D7';
}

.contact-details {
  background-color: #f4f2f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 22em;
}

#contact-details-header {
  font-weight: 500;
  font-size: 1em;
}

#contact-details-content {
  margin-top: 0;
}

#contact-details-content > a {
  font-weight: 700;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
}

@media (min-width: 48em) {
  #contact-details-content > a {
    font-size: 3em;
  }
}

#contact-details-content > a:hover {
  color: crimson;
  text-decoration: underline;
}

.contact-social-media > section {
  margin-top: 0;
}

.contact-social-media {
  display: flex;
  justify-content: space-between;
  width: 10em;
  padding: 0.5em;
  font-size: 1.2em;
}

@media (min-width: 35em) {
  .contact-social-media {
    font-size: 1.5em;
  }
}

@media (min-width: 48em) {
  .contact-social-media {
    font-size: 2em;
  }
}
