@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500,700|Lato:400,700&display=swap');

:root {
  box-sizing: border-box;
  --main-heading-font-size: 2.5em;
  --sub-heading-font-size: 1.5em;
  --content-font-size: 1em;
  --bg-color: hsl(345, 24%, 93%);
  --brand-color: hsl(183, 38%, 44%);
  --text-color: hsl(0, 0%, 0%);
  --light-teal: hsl(183, 44%, 52%);
  --extra-light-teal: hsl(179, 90%, 47%);
  --red: hsl(345, 100%, 51%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: var(--content-font-size);
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
}

body * + * {
  margin-top: 1.5em;
}

p {
  margin: 0;
}
